// branded colors
$orange: #f29d2c;
$pink: #e6506b;

$blue: #2095f2;
$ui-blue: #83c4f8;
$darkest-blue: #082943;

$off-white: #fafafa;

$clock-side-length: 15rem;
$clock-border: 7.5rem;

.pink-border { border: .25rem solid $blue; }

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');