#main-content-wrap {
    max-width: 1060px;
    width: 100%;
    height: 85vh;
    
    padding: 3.5rem 3.5rem 0 3.5rem;
    margin: 15vh auto auto;
    box-sizing: border-box;
    
    z-index: 2;
    background-color: $off-white;
    font-family: 'Roboto';
    letter-spacing: .15rem;

    @extend .pink-border;
    border-bottom: none;
    border-radius: 2.5rem 2.5rem 0 0;
    position: relative;

    display: flex;
    flex-direction: column;
}