#main-content-wrap {
    max-width: 1150px;
    width: 100%;
    height: 85vh;
    
    box-sizing: border-box;
    padding: 3.5rem 3.5rem 0;
    margin: 15vh auto 0;
    
    z-index: 2;
    background-color: $off-white;
    font-family: 'Roboto';
    letter-spacing: .15rem;

    @extend .pink-border;
    border-bottom: none;
    border-radius: 2.5rem 2.5rem 0 0;
    position: relative;

    display: flex;
    flex-direction: column;

    @media (max-width: 1150px) {
        margin-top: 25vh;
        border-right: none;
        border-left: none;

        padding: 3.5rem 0 0;
    }

    @media (max-width: 850px) {
        border-radius: 0 !important;
    }
}