#history-reset-button {
    cursor: pointer;
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    border-radius: 2.5rem;
    margin-left: 1.25rem;
    padding: .65rem;
    border: none;
    outline: none;
    background-color: $pink;

    * { 
        color: $off-white; 
        opacity: .85; 
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    i {
        font-size: 1.85rem;

        margin: auto .5rem auto 0;
    }
    p {
        margin: auto;
        padding: 0;

        width: auto;
        text-align: center;
        font-size: 1.35rem;

        font-weight: 800; 
    }
}

#history {
    flex: 1;
    width: 100%;
    padding: 0;
    margin: 1rem 0 0 0;
    box-sizing: border-box;

    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: flex-start;

    #history-area-header {
        width: 100%;
        box-sizing: border-box;
        padding: 0 calc(10%+1rem);

        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;

        h3 {
            @extend .no-select;
            font-size: 2.5rem; 

            padding: 0;
            margin: auto;
            display: inline-block;
        }
    }

    #history-table {
        box-sizing: border-box;
        margin: 1rem 10% 0;
        padding: 0;// 1rem;// 0 1rem;
        flex: 1;

        border: .25rem solid $blue;
        border-radius: 2.5rem 2.5rem 0 0;
        border-bottom: none;
        list-style: none;
        background-color: #FFF;

        letter-spacing: .075em; 

        #history-headers {
            @extend .pink-border;
            border-top: none;
            border-left: none;
            border-right: none;

            h3 {
                display: flex;
                flex-direction: column;
                justify-content: center;

                padding: .5rem 0 .25rem;
                
            }
        }
        * {
            display: flex;
            flex-direction: row;
            align-content: center;

            * {
                flex: 1;
                text-align: center;
                
                margin: 0;
                padding: 0;
                height: auto;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;

                border-right: .15rem solid $blue;
                &:first-child { border-color: $pink; }
                &:nth-child(2) { border-color: $orange; }
                &:last-child { border: none; }
            }
        }

        li {
            width: 100%;
            margin: .25rem 0;

            a { color: $blue; }
        }
    }

    @media (max-width: 1150px) {
        #history-table {
            margin: 1rem 2.5% 0;
        }
    }
}
